.chat-main
  .main-header
    .group-name
      test
      %ul.member-list
        Member: 
        %li.member-name
          ユーザー名
    = link_to '#', class: "main-editbtn" do
      Edit
  .main-message
    .message
      .message-box
        .massage-username
          ユーザー名
        .message-date
          2020/7/16 15:54
      .message-log
        %p.message-content
          こんにちは
  .main-form
    %form.form
      .form-content
        %input.form-input-content{type: "text", placeholder: 'type a message'}
        %label.form-input-image
          = icon('far', 'image', class: 'form-icon')
          %input.hidden{type: 'file'}
      %input.form-submit{type: 'submit', value: 'Send'}